/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


 @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');



 html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  margin: 0 auto;
}

.jumbotron {
  height: 600px;
  background-image: url("https://content.codecademy.com/projects/broadway/bg.jpg?_gl=1*my95t4*_ga*MzM3ODgyMzI5My4xNjc1NDUyNTk4*_ga_3LRZM6TM9L*MTY3Nzc3MzY5OS4xNi4xLjE2Nzc3NzY2NTEuNjAuMC4w");
background-size: fill;
}

.btn-primary {
background-color: #333;
color: #fff;
font-family: 'Raleway', sans-serif;
font-weight: 600;
font-size: 18px;
letter-spacing: 1.3px;
padding: 15px 50px;
text-decoration: none;
text-transform: uppercase;  
display: inline-block;
margin-bottom: 20px;
 
}

.header {
  background-color: #333;
}

.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: inline;
  padding: 20px 40px;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-default {
  border: 1px solid #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;  
  display: inline-block;
  margin-bottom: 20px;      
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}
